@model EstudioASP.Models.DocumentoModels

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>DocumentoModels</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdiomaModels.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdiomaModels.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaisModels.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaisModels.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UniversidadModels.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UniversidadModels.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreDocumento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreDocumento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Materia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Materia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CalificacionDocumento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CalificacionDocumento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CalidadDocumento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CalidadDocumento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaDocumento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaDocumento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationUserID)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
