@model EstudioASP.Models.DocumentoModels

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DocumentoModels</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Idioma
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdiomaModels.Nombre)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.PaisModels.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaisModels.Nombre)
        </dd>*@

        @*<dt>
            @Html.DisplayNameFor(model => model.UniversidadModels.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UniversidadModels.Nombre)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.NombreDocumento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreDocumento)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.Materia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Materia)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.CalificacionDocumento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CalificacionDocumento)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.CalidadDocumento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CalidadDocumento)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.FechaDocumento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaDocumento)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>*@

        @*<dt>
            @Html.DisplayNameFor(model => model.ApplicationUserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationUserID)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Link)
        </dt>

        <dd>
            <a href="@Html.DisplayFor(model => model.Link)" target="_blank">@Html.DisplayFor(model => model.Link)</a>
        </dd>



    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.DocumentoId }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>
