@model IEnumerable<EstudioASP.Models.NewsModels>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TituloNoticia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DetalleNoticia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RutaImagen)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TituloNoticia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DetalleNoticia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RutaImagen)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.NoticiaID }) |
            @Html.ActionLink("Details", "Details", new { id=item.NoticiaID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.NoticiaID })
        </td>
    </tr>
}

</table>
